@import "../variables/variables";

.afterwords {
    @include DynaPuff;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 180px 16px;
    background-image: url(../../img/afterwords/afterwords.png);
    background-repeat: no-repeat;
}