@import "../variables/variables";

.cards {
    background: #3c3c3c;
    padding-top: 68px;
    padding-bottom: 85px;
    display: grid;
    row-gap: 63px;
    justify-content: center;

    @media(min-width: $bp-max-mobile) {
        grid-template-columns: 328px 328px;
        grid-template-rows: auto;
        row-gap: 102px;
        column-gap: 60px;
    }

    @media(min-width: $bp-min-desktop) {
        grid-template-columns: repeat(3, 246px);
        row-gap: 63px;
    }
}

.cards__card {
    width: 288px;
    background: $white;
    border-radius: 13px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    position: relative;

    @media (min-width: 380px) {
        width: 343px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 56px;
        height: 56px;
        right: 32px;
        top: 32px;
        background-image: url(../../img/cards/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;
        border-radius: 50%;
    }


    & h2 {
        color: #565656;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    }

    & p {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
    }

    @media(min-width: $bp-max-mobile) {
        width: 333px;
        padding: 24px;

        &::before {
            right: 40px;
            top: 44px;
        }

        & h2 {
            font-size: 32px;
        }

        & p {
            font-size: 16px;
        }
    }

    @media(min-width: $bp-min-desktop) {
        width: 246px;
        padding: 20px;
    }


    &--big {
        @extend .cards__card;

        & h2 {
            font-size: 36px;
            font-weight: 600;
        }

        & p {
            font-weight: 700;
        }

        @media(min-width: $bp-max-mobile) {
            grid-column: span 2;
            width: 703px;

            .cards__card-bg {
                height: 498px;
            }

            & h2 {
                font-size: 40px;
            }
        }

        @media(min-width: $bp-min-desktop) {
            width: 818px;
            grid-column: span 3;
        }
    }

}


.cards__card-bg {
    width: 100%;
    height: 278px;
    background-image: url(../../img/cards/card_1-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;

    @media(min-width: $bp-max-mobile) {
        height: 448px;
    }

    @media(min-width: $bp-min-desktop) {
        height: 338px;
    }
}

.cards__card:nth-child(3) .cards__card-bg {
    background-image: url(../../img/cards/card_3.jpg);
}

.cards__card:nth-child(2),
.cards__card:nth-child(4) {
    display: none;
}

@media(min-width: $bp-max-mobile) {
    .cards__card:nth-child(2) {
        display: flex;
    }

    .cards__card:nth-child(2) .cards__card-bg {
        background-image: url(../../img/cards/card_2.jpg);
    }
}

@media(min-width: $bp-min-desktop) {
    .cards__card:nth-child(4) {
        display: flex;
    }

    .cards__card:nth-child(4) .cards__card-bg {
        background-image: url(../../img/cards/card_4.jpg);
    }
}