@import "../variables/variables";

.design {
    background-color: $black;
    padding-bottom: 100px;
    box-sizing: border-box;

    &-title {
        @include DynaPuff;
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        width: 327px;
        height: 54px;
        box-sizing: border-box;
        padding: 54px 16px;
    }

    &__pics {
        padding-top: 28px;
        display: grid;
        row-gap: 20px;
        justify-content: center;
    }

    & a {
        position: relative;
        width: 288px;
        height: 325px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            border-radius: 40px;
        }

    }

    & a::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
    }

    & a:nth-child(1)::before {
        width: 172px;
        height: 172px;
        background-image: url(../../img/design/symbols/star.svg);
    }

    & a:nth-child(2)::before {
        width: 134px;
        height: 137px;
        background-image: url(../../img/design/symbols/butterfly.svg);
    }

    & a:nth-child(3)::before {
        width: 148px;
        height: 143px;
        background-image: url(../../img/design/symbols/asterisk.svg);
    }

    @media (min-width: $bp-max-mobile)
    {
        padding-top: 38px;
        padding-bottom: 130px;
        grid-template-columns: 328px 328px;
        row-gap: 26px;
        column-gap: 34px;

        & a:nth-child(1) {
            width: 690px;
            grid-column: span 2;
        }

        & a:nth-child(2),
        a:nth-child(3) {
            width: 328px;
        }
    }
    @media (min-width: $bp-min-desktop)
    {
        padding-bottom: 140px;
        gap: 26px;
    }
}