@import "../variables/variables";

.footer {
    background-color: $black;
    box-sizing: border-box;
    padding: 53px 16px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 130px;


    &__book-call {
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 139px;
        border: 1px solid var(--Gray-6, #F2F2F2);
        background-color: $black;
        width: 100%;
        max-width: 800px;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: center;
            justify-content: center;
            color: $white;

            span {
                @include DynaPuff;
                font-weight: 700;
                font-size: 20px
            }

            article {
                display: flex;
                gap: 20px;
                align-items: center;
                font-size: 15px;
                font-weight: 700;
                @include Manrope;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        div {
            display: flex;
            gap: 34px;
        }

        span {
            color: $white;
            @include Manrope;
            font-size: 14px;
            font-weight: 500;
        }
    }

    @media (min-width: $bp-max-mobile) {
        &__book-call {
            height: 150px;
            justify-content: center;

            &_img {
                width: 100px;
            }

            div {
                span {
                    font-size: 48px;
                    font-weight: 700;
                }

                article {
                    font-size: 24px;
                    font-weight: 500;
                }
            }
        }
    }
}