@import "../variables/variables";

body
{
    position: relative;
}

.header {
    min-width: $bp-min-mobile;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;

    &-menu {
        padding: 8px;
        position: sticky;
        z-index: 10000;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__menu-button,
        &__icon {
            border: none;
            width: 56px;
        }

        background-color: $black;
    }

    &__menu-list {
        display: none;
    }

    @include flex-column;
    justify-content: center;
    padding-top: 330px;

    &-text {
        @include DynaPuff;
        margin-bottom: 145px;
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        padding: 0 21px;
    }

    @media (min-width: $bp-max-mobile) and (max-width: $bp-min-desktop) {
        gap: 180px;

        &-text {
            text-align: left;
            width: 320px;
            padding: 0 34px;
        }
    }

    @media (min-width: $bp-min-desktop) {
        &-menu {
            justify-content: flex-start;
            gap: 400px;
            padding: 18px 200px;
        }

        &__menu-button {
            display: none;
        }

        &__menu-list {
            display: flex;
            gap: 20px;
            align-items: center;
            list-style: none;
        }

        &__menu-item {
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            border-radius: 20px;
            border: 1px solid #FFF;
            box-sizing: border-box;
            padding: 10px 16px;
            @include Manrope;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &-text {
            width: 846px;
            font-size: 80px;
            font-weight: 700;
        }
    }
}