@import "../variables/variables";

.meet {
    min-width: $bp-min-mobile;
    background-color: #202020;
    @include flex-column;
    gap: 40px;
    box-sizing: border-box;
    padding: 76px 16px;
    &-title {
        @include DynaPuff;
        color: #FAEB49;
        font-size: 36px;
        font-weight: 700;
    }

    &-text {
        @include Manrope;
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
    }

    &__stats {
        display: flex;
        list-style: none;
        color: #FFF;
        display: flex;
        gap: 14px;
        li {
            @include flex-column;
            gap: 5px;
            font-size: 36px;
            @include DynaPuff;
            span {
                @include Manrope;
                font-size: 16px;
            }
        }
    }

    @media (min-width: $bp-max-mobile) and (max-width: $bp-min-desktop)
    {
        padding: 103px 33px;
        &-title {
            font-size: 48px;
        }
        &-text {
            width: 524px;
        }
        &__stats {
            gap: 96px;
            li {
                font-size: 48px;
            }
        }
    }
    @media (min-width: $bp-min-desktop)
    {
        padding: 100px 190px;
        &-title {
            font-size: 48px;
        }
        &-text {
            width: 524px;
        }
        &__stats {
            gap: 96px;
            li {
                font-size: 48px;
            }
        }
    }
}