// Breakpoints

$bp-min-mobile: 320px;
$bp-max-mobile: 768px;
$bp-min-desktop: 1200px;

$black: #202020;
$white: #FFF;

@mixin flex-column
{
    display: flex;
    flex-direction: column;
}

@mixin DynaPuff
{
    font-family: DynaPuff;
}

@mixin Manrope
{
    font-family: Manrope;
}